@import url("https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Sans+TC|Roboto+Mono&subset=chinese-traditional");
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

$mainBlue: #3880c3;
$mainBlue-hover: #0d6cc3;
$mainRed: #ff0e00;
$mainRed-hover: #e00000;
$mainGreen: #479679;
$mainGreen-hover: #40886F;
$white: #fff;
$black: #000;
$line: #e6e6e6;
$background: #f6f6f6;
$lightBackground: #f7f7f7;
$fontColor: #505050;
$fontSubColor: #8e8e8e;

$titleFont: "Noto Sans TC", "Noto Sans", sans-serif;
$font: "cwTeXYen", monospace, sans-serif;
